<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.dto.commentMapper">

    <insert id="insertcomment" parameterType="comment">
        insert into COMMENTFINAL(BOARD_NO,USER_ID,CONTENTS) values(#{BOARD_NO}, #{USER_ID}, #{CONTENTS})
    </insert>

    <select id="selectallcomment" parameterType="int" resultType="comment">
        select  * from COMMENTFINAL where BOARD_NO=#{BOARD_NO};
    </select>

    <insert id="addinsertcomment" parameterType="comment">
        insert into COMMENTFINAL(BOARD_NO,PARENT_NO,USER_ID,CONTENTS) values(#{BOARD_NO},#{PARENT_NO}, #{USER_ID}, #{CONTENTS})
    </insert>

    <delete id="deletecomment" parameterType="int">
        delete from COMMENTFINAL where no = #{no};
    </delete>


</mapper>








